<!DOCTYPE html>
<html>
<head>
    <title>All Posts</title>
</head>
<body>
    <h2>All Posts</h2>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.body}}</p>
                    <p>Posted on: {{this.postDate}}</p>
                    <p>Category: {{this.category}}</p>
                    <p>Published: {{this.published}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No posts available.</p>
    {{/if}}
</body>
</html>
